* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(186, 200, 255, 0.6783088235294117) 5%, rgba(234, 229, 220, 0.6502976190476191) 53%, rgba(237, 156, 255, 0.541) 100%);

    font-family: "Open Sans", sans-serif;
}



.sombra1 {
    border-radius: 34px;
    background: #4eb54033;
    box-shadow: 13px 13px 15px #36822e35, -13px -13px 15px #35752c37;
}

.sombra2 {
    box-shadow: 1px 1px 18px 11px rgba(124, 156, 217, 0.257);
    -webkit-box-shadow: 1px 1px 18px 11px rgba(124, 156, 217, 0.316);
    -moz-box-shadow: 1px 1px 18px 11px rgba(124, 156, 217, 0.192);

}

nav a:active {
    box-shadow: 2px 2px 5px #1d330c57;
}

nav img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
}


body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: linear-gradient(0deg, #3366de5a 5%, rgba(85, 240, 188, 0.555) 53%, rgb(240, 24, 233) 100%);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(102, 102, 212);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(58, 205, 142);  /* creates padding around scroll thumb */
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quattrocento', serif;
}

.tituloPerroGatoEtc {
    width: 100% !important;
    height: 3rem !important;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: xxx-large;
}

#navegacion {
    display: flex;
    min-width: 100vh !important;
    min-height: 30vh !important;
    justify-content: space-around !important;
    align-items: center !important;
    background-color: #3366de5a !important;
    font-size: x-large;
}

#ul-nav {
    color: black;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* -------------------CARD */
.card {
    margin: 2rem !important;
    background-color: rgba(47, 207, 127, 0.089);
}

.card-body {
    background-color: rgba(47, 207, 154, 0.174);
    min-width: auto !important;
    min-height: 15vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
/* CARTAS DE EXPERIECIA GUADA */
.tituloPerroGatoEtc{
    height: 7rem !important;
}
.card-exp {
    min-width: 40vh !important;
    min-height: 70vh !important;
    margin: 1rem;
}

.card-body-exp {
    background-color: rgba(47, 207, 127, 0.089);
    width: 100% !important;
    min-height: 35% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.card-footer {
    height: 2rem !important;
    background-color: #8586b856;
}

.imgExperiencia {
    min-width: 50% !important;
    height: 40vh !important;
    object-fit: cover;
}

.mascota {
    width: 95% !important;
}

#form-experiencias {
    background-color: rgba(47, 207, 154, 0.174);
    margin: 5rem !important;
}

.contenedorMapa {
    min-width: 50% !important;
    min-height: 70vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorContacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 50% !important;


}

#contenedorFormularioCont {
    width: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 60% !important; */
}

#contenedorFormularioCont form {
    min-width: 85% !important;
}

#contenedorFormularioCont input {
    width: 1rem !important;
}

iframe {
    margin-left: 2rem;
    text-align: center;
    width: 85% !important;
    height: 50vh !important;
}

footer {
    min-height: 50vh !important;
    min-width: 100% !important;
    background-color: #bac8ff !important;
    display: flex;
    justify-content: space-around !important;
    padding-top: 1rem !important;

}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
}

#mainProd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-control {
    min-width: 100% !important;
}

figure {
    width: 50vh !important;
    min-height: 100vh !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 1rem;
    background-color: #01184d5a !important;
    border-radius: 10px;
    background-color: #6d91e65a !important;
}

#textCardPord {
    min-width: 45vh !important;
    height: 55vh !important;
    background-color: rgba(108, 234, 243, 0.527);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#img-prod {
    min-width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.img-fluid {
    width: 100vh !important;
    height: 50vh !important;
}

#navbarNavDropdown {
    background-color: #bac8ff !important;
}



/* //////////////////////////////////////////////////////////////////////////////// */

h2,
h3 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}

h2::after,
h3::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #7ac400;
    left: 0;
    right: 0;
    bottom: -20px;
}

/* --------separador--------- */
hr.style9 {
    border-top: 5px dashed #8c8b8b;
    border-bottom: 5px dashed #fff;
}

/* -----------------nav ---------------*/

nav a:active {
    background-color: #8da9ecbb !important;
}

nav img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
}

.lineaLateral {
    border-color: #694433;
    border-width: 0 1px 0 1px;
    border-style: dashed;
}

#navegacion {
    display: flex;
    min-width: 100% !important;
    min-height: 30vh !important;
    justify-content: space-around !important;
    align-items: center !important;
    background-color: #3366debb !important;
    font-size: x-large;
}

#ul-nav {
    color: black;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.borderDotted {

    border-color: #694433;
    border-width: 1px 0 1px 0;
    border-style: dashed;
}

.borderDottedFull {

    border-color: #694433;
    border-width: 3px;
    border-style: dashed;
}

header img {
    height: 50vh;
    object-position: 50%;
    object-fit: cover;
    object-position: center;
}

/* -------------------carousel objetos y logos--------------------------- */
.objPrueba {
    border: 5px solid black;
    height: 40vh;
}


.itemCarousel {
    background-color: grey;
}

.carou {
    height: 15rem;
}

#logo {
    width: 20rem;
    object-fit: contain;
}

#logoCarousel {
    z-index: 2;
    position: absolute;
    height: 20vh;
    object-fit: cover;
}

/* -----------------------liston------------------------------------------ */
.corner-ribbon {
    position: relative;
}

.corner-ribbon__inner {
    /* Displayed at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Size */
    height: 4rem;
    width: 4rem;

    /* Hide the part of its children which is displayed outside */
    overflow: hidden;
}

.corner-ribbon__ribbon p {
    color: white;
}

.corner-ribbon__ribbon {
    /* Position */
    left: 1rem;
    position: absolute;
    top: 1rem;

    /* Size */
    height: 1.5rem;
    width: 5.656rem;

    /* Displayed diagonally */
    transform: translate(-38px, -8px) rotate(-45deg);

    /* Background color */
    background-color: #ec2a2acb;

    /* Centerize the text content */
    text-align: center;
}

/* -------------------------- indexDetalles-------- */
.franjaTodas {
    background-color: rgb(255, 255, 255);
}

.franjaDerecha {
    border-radius: 0 15px 15px 0;
    border-color: #694433;
    border-width: 3px 3px 3px 0;
    border-style: dashed;
}

.franjaIzquierda {
    border-radius: 15px 0 0 15px;
    border-color: #694433;
    border-width: 3px 0 3px 3px;
    border-style: dashed;
}

.franjaCentral {
    border-radius: 15px;
}

#nosotrosSection {
    background-image: url(../image/index/perros-hipoalergenicos-1140x641.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.filtroDeColor {

    background: linear-gradient(0deg, rgba(186, 200, 255, 0.473) 0%, rgba(235, 179, 255, 0.589) 50%, rgba(255, 242, 204, 0.39) 100%);
}

/* --------------------carrito--------------- */
.lineaCarrito {
    border: 1px solid rgba(36, 28, 28, 0.541);
    border-radius: 10px;
}

.btnCarrito {
    border: 0;
}

.btnCarritoEliminar {
    font-size: 0.8rem;
    border: 0;
}

/* ---------------carousel guada----------------- */

/*-----------------------carrito btn ---------------------------------*/

#carritoBTN {
    text-transform: uppercase;
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    color: #ffffff;
    /* Color del texto */
    border-radius: 5px;
    /* Borde del boton */
    background-color: #e91e62a9;
    /* Color de fondo */
    padding: 10px 15px;
    /* Relleno del boton */
    position: fixed;
    top: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

/* ----------------------------footer-------------------------------- */
#carritoBTN:hover {
    background-color: #2c2fa5;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

footer {
    height: 10vh;
    background-color: #3366debb !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------scrollup ---------------*/
svg {
    width: 2rem;
    height: 2rem;
}

.btn-flotante {
    text-transform: uppercase;
    /* Texto en mayusculas */
    font-weight: bold;
    /* Fuente en negrita o bold */
    color: #ffffff;
    /* Color del texto */
    border-radius: 5px;
    /* Borde del boton */
    background-color: #e91e62c7;
    /* Color de fondo */
    padding: 10px 15px;
    /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante:hover {
    background-color: #2c2fa5;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}


/* ---------------responsive------------- */

@media only screen and (min-width: 1024px) {
    .navPet {
        background-image: url(../image/index/mascotas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .carouselIndex img {
        height: 50vh;
        object-position: top;
    }

    carouselExampleSlidesOnly    .objPrueba {

        height: 40vh;
    }
}


@media  (min-width: 320px)  and (max-width: 910px){


    #contenedorContacto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}


 .textoh3{
    
font-size: xx-large;}
